{% extends 'base.html' %}

{% block title %} About {% endblock title %}  
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">iCoder</h1>
      <p>iCoder is a blog website where you can get articals about various topics.

        </p>
<!--      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>Chintan Sutariya</h2>
        <p>I am web developer ans enthusiast about learning new things</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/chintan-sutariya-a09483156/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4"></div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock body  %}  